body, html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  height: 800px;
  width: 800px;
  border: 2px solid black;
  display: grid;
}